.nav {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.nav ul li a {
  margin: 5px, 15px;
}
.link {
  color: #fafafa;
}

.link:hover {
  color: #fafafa;
  text-decoration: underline;
}

#appBar {
  margin-top: 0;
  padding-right: 0%;
  width: 100%;
  margin-bottom: auto;
}
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

@media (min-width: 400px) {
  #btnUpload {
    margin-bottom: 2em;
  }
}
